<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>QueueIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>What&apos;s playing next</string>
				<string>Show the song queue</string>
				<string>Show the upcoming songs</string>
				<string>Show what&apos;s playing next</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
